APP_NAME="Buildease"

NITRO_PORT=3000

NUXT_AUTH_MODE=cookie # 'cookie' || 'token'

NUXT_API_BASE=http://localhost:8000/api
NUXT_MOBILE_API_BASE=https://back-buildease.createinc.co.uk/api  #'Using a ssl url as on development Android app would not send http request to localhost'
