@utility container {
  margin: 0 auto;

  width: 100%;
  max-width: 100%;
  padding: 0 10px;

  @media (width >= 1280px) {
    max-width: 1280px;
    padding: 0 0;
  }
}

@utility grid {
  @apply gap-10;
}
